.content {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.list {
  display: flex;
  gap: 1rem;
  margin: auto;
  font-size: 3rem;
  padding: 10px;
  justify-content: center;

  margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
  .list {
    font-size: 2rem;
    flex-direction: column;
  
  }
  .link {
    margin-bottom: 20px;
  }
}

.list a {
  
  text-decoration: none;
  color: rgb(201, 193, 207);
  border: solid;
  padding: 5px;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin: auto;
  width: 50%;
  /* border: 3px solid #73AD21; */
}


.list a:hover{
  color: rgb(219, 218, 238);
  box-shadow: 0 5px 20px rgba(145, 92, 182, 1);
}