form {
  padding: 20px;
}

label {
  padding: 10px;
}

input {
  padding: 10px;
  border-radius: 15px;
  width: 2rem;
  margin: 10px;
}

button {
  background: rgb(74, 39, 100);
  border: solid 2px rgb(249, 246, 246);
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 15px;
  color: white;
  margin: 5px;
}

button:hover {
  box-shadow: 0 5px 20px rgba(145, 92, 182, 1);
}
