.header {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: rgb(201, 193, 207);
  border: solid;
  padding: 5px;
  border-radius: 10px;
}


.list a.active {
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 20px rgba(145, 92, 182, 1);
}

.list a:hover{
  color: rgb(219, 218, 238);
  box-shadow: 0 5px 20px rgba(145, 92, 182, 1);
}