

:root {
  margin: 0;
  background-color: black;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(44, 9, 121) 62%,
    rgba(11, 20, 22) 100%
  );
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}



ul {

  list-style-type: none;
  margin: 10%;
  margin-bottom: 30%;
  padding: 0;
}